
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.DS_Store
tests/.DS_Store
/artifacts/
/node_modules/

# Environment / secrets
.env
*.env 

# Logs and OS junk
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VS Code project settings
.vscode/

